
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<h1 th:text="${title}"></h1>

<table>
    <thead>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Engine</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">

        <td th:text="${car.model}">Model</td>
        <td th:text="${car.color}">Color</td>
        <td th:text="${car.engine}">Engine</td>

    </tr>
    </tbody>
</table>
</body>
</html>